/* COLORS */
$color-primary: orangered;
$main-color: #151515;
$green-cl: #6A983C;
$black-cl: #000;
$grey-cl: #A9A9A9;
$lightGrey-cl: #F5F5F5;
$white-cl: #FFFFFF;
$dark-cl: #575757;

/* FONTS */
$main-font:"Poppins", sans-serif;
$secondary-font:"Open Sans", sans-serif;
