.corusel {
  margin-top: 50px;
}

.corusel-content {
  max-width: 356px;
  background: $white-cl;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 24px 32px 40px 32px;
  position: relative;

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.corusel-list {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.corusel-content__text {
  margin: 0;
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: $main-color;
  margin-left: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.corusel-content__heading {
  margin: 0;
  font-family: $main-font;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $grey-cl;
}

.corusel-content__img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 88%;
  left: 43%;
}

@media only screen and (max-width: 1100px) {
  .corusel-content {
    max-width: 300px;
    background: $white-cl;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px 32px 40px 32px;
    position: relative;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 925px) {
  .corusel-content {
    max-width: 253px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  .corusel-content__img {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 234px;
    left: 96px;
  }
}

@media only screen and (max-width: 768px) {
  .corusel-content {
    max-width: 341px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .corusel-content__three {
    display: none;
  }

  .corusel-content__img {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 193px;
    left: 144px;
  }
}

@media only screen and (max-width: 560px) {

  .corusel-content {
    max-width: 537px;
  }

  .corusel-content__img {
    top: 150px;
    left: 229px;
  }

  .corusel-content__two {
    display: none;
  }
}

@media only screen and (max-width: 435px) {
  .corusel-content__img {
    top: 168px;
    left: 185px;
  }
}

@media only screen and (max-width: 375px) {
  .corusel-content__two {
    display: none;
  }

  .corusel-content__img {
    top: 169px;
    left: 147px;
  }
}