.form{
  position: relative;
  display: flex;
}

.form-wrapper__toggler{
  display: none;
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url('../../img/burger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form-wrapper__features{
  display: none;
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 600px;
  background-color: $lightGrey-cl;
  right: 20px;
  top: 130px;
  padding: 20px
}

.form-wrapper__list{
  @include list-unstyled;
  text-align: left;
  padding-top: 15px;
}

.form-wrapper__item:not(:last-child){
  margin-bottom: 22px;
}

.form-wrapper__link{
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $green-cl;
  text-decoration: none;
  transition: opacity 0.2s ease;

  &:hover{
    opacity: 0.7;
  }
}

@media only screen and (max-width: 768px) {
  .form-wrapper__toggler{
    display: block;
    margin-left: 20px;
    flex-shrink: 0;
  }

  .form-open .form-wrapper__toggler{
    width: 25px;
    height: 25px;
    background-image: url('../../img/icon-close.png');
  }

  .form-open .form-wrapper__features{
    display: block;
  }
}

